*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.hideScrollBar {
  overflow: hidden;
}

body {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  background: $darkColor;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background-color: $darkColor;
}

body::-webkit-scrollbar-thumb {
  background: $mainMediumColor;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: $mainLightColor;
}

::selection {
  background-color: $mainLightColor;
  color: $darkColor;
}

.homePageOpening {
  height: 100vh;
}

.homePage {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  color: $lightColor;
  font-weight: bold;

  .openingTextWrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em 2em;
    overflow: hidden;
  }
  .openingBackground {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  .stripe {
    width: 100%;
    height: 20vh;
    transition: transform 0.3s ease;
  }

  .stripeDark {
    background-color: $darkColor;
  }

  .stripeLight {
    background-color: $mainLightColor;
  }

  .shortInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    letter-spacing: 2px;
    font-weight: 400;
    animation: anime-main-section 1s cubic-bezier(0.215, 0.61, 0.355, 1) 8s both;
    .shortInfoText {
      padding: 1em 0;
    }
  }

  .line {
    height: 1px;
    width: 150%;
    background-color: $lightColor;
  }

  .mainTitle {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .mainTitleInfo {
    font-size: 6rem;
    letter-spacing: -5px;

    .mainTitleName {
      display: block;
      text-align: center;
      padding-bottom: 0.7em;
    }

    &:first-child {
      animation: slide-in-bck-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 7s
        both;
    }

    &:last-child {
      animation: slide-in-bck-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        7s both;
    }
  }
}

@keyframes slide-in-bck-top {
  0% {
    transform: translateZ(700px) translateY(-300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes anime-main-section {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-bck-bottom {
  0% {
    transform: translateZ(700px) translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}


@media (min-width: 576px) {
  .homePage {
    .shortInfo {
      font-size: 1.6rem;
      padding-bottom: 0.3em;
    }

    .mainTitleInfo {
      font-size: 7rem;
      letter-spacing: -6px;
      .mainTitleName {
        padding: 0.3em 0;
      }
    }
  }
}
@media (min-width: 768px) {
  .homePage {
    .shortInfo {
      font-size: 2rem;
    }
    .mainTitleInfo {
      font-size: 9rem;
    }
  }
}

@media (min-width: 992px) {
  .homePage {
    .shortInfo {
      flex-direction: row;
      width: 100%;
    }
    .mainTitleInfo {
      font-size: 13rem;
      letter-spacing: -15px;
    }
    .line {
      width: 20%;
    }
  }
}
