// Navigation

.navigation {
  .menu-menu-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -5;
  }

  .menu {
    position: absolute;
    bottom: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100vh;
    width: 100vw;
    padding-bottom: 3em;
    opacity: 0;
    list-style: none;
    background-image: linear-gradient(
      270deg,
      $darkColor,
      $mainLightColor,
      $mainMediumColor
    );
    background-size: 600% 100%;
    animation: anime-bgr 8s infinite both;

    .menu-item {
      transition: 0.5s;

      a {
        font-size: 8rem;
        padding-right: 1em;
        line-height: 80%;
        letter-spacing: -10px;
        text-decoration: none;
        color: $mediumLightColor;
        transition: 0.5s;
      }

      a:hover {
        color: $mainMediumColor;
        letter-spacing: 0;
      }
    }

    .menu-item:hover {
      transform: translateX(10vw);
    }
  }

  .burger {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.4em;
    font-size: 5rem;
    background: transparent;
    color: $lightColor;
    border: none;
    animation: anime-main-section 3s cubic-bezier(0.215, 0.61, 0.355, 1) 8s both;
    z-index: 6;
  }

  .burger-dark-color {
    color: $darkColor;
  }

  .menuBtn {
    transition: color 0.2s;
  }

  .menuBtn:hover {
    color: $mainMediumColor;
  }

  &.active {
    position: absolute;
    z-index: 5;
    .menu {
      left: 0;
      opacity: 1;
    }
  }
}

@keyframes anime-bgr {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@media (min-width: 576px) {
  .navigation {
    .menu {
      .menu-item {
        a {
          font-size: 9rem;
        }
      }
    }
    .burger {

      font-size: 7rem;
    }
  }
}

@media (min-width: 768px) {
  .navigation {
    .menu {
      .menu-item {
        a {
          font-size: 11rem;
        }
      }
    }

    .burger {
      padding: 0.6em 0.8em 0;
      font-size: 8rem;
    }
  }
}

@media (min-width: 992px) {
  .navigation {
    .menu {
      .menu-item {
        a {
          font-size: 13rem;
        }
      }
    }
  }
}
