// WORK - PAGE

.workPage {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 3em 2em;
  color: $lightColor;
  font-weight: bold;
  background-color: $darkColor;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  .mainTitle {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10rem;
    opacity: 0.3;

  }

  .mainTitleInfo {
    font-size: 6rem;
    letter-spacing: -5px;
    font-weight: 900;

    &:first-child {
      animation: slide-in-bck-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    &:last-child {
      animation: slide-in-bck-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    }
  }
}

.workPageWrapper {
  width: 80vw;
  height: 80vh;
  margin: 8em auto 5em;

  .workText {
    border-top: 1px $lightColor solid;
    border-bottom: 1px $lightColor solid;
    padding: 1em 3em;
    margin-bottom: 2rem;
    font-weight: 400;
    color: $lightColor;
    font-size: 1.6rem;
    background-color: $darkColor;
    transition: 0.5s;
  }
  .workText:nth-of-type(3),
  .workText:nth-of-type(4),
  .workText:nth-of-type(5) {
    padding-left: 5em;
  }
  .workText:hover {
    background-color: $lightColor;
    color: $darkColor;
    border-top: 1px $darkColor solid;
    border-bottom: 1px $darkColor solid;
  }
}

.workPageSection {
  .imgWrapper {
    position: relative;
    top: 15vh;
    overflow: hidden;
  }
  .changingTextWrapper {
    position: fixed;
    top: 30vh;
    left: 0;
    font-size: 3em;
    z-index: 1;
    letter-spacing: -8px;
    text-align: center;
    width: 100vw;
  }
  .changingText {
    color: $mainLightColor;
    text-decoration: none;
    display: none;
    font-weight: 900;
    background-color: $mediumLightColor;
  }
  .projectElement {
    position: relative;
    width: 80vh;
    max-width: 80vw;
    height: 70vh;
    max-height: 70vw;
    margin: 5vh auto 10vh;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid $mediumLightColor;
    transition: all 0.6s ease-in-out;
    transform: translateY(-150px);
  }
  .projectElement:nth-child(odd) {
    transform: translateX(-150%);
  }
  .projectElement:nth-child(even) {
    transform: translateX(150%);
  }
  .projectElementFirst {
    background-position-x: 12%;
  }
  .projectElementSecond,
  .projectElementThird {
    background-position-x: 47%;
  }
  .projectElementFourth {
    background-position-x: 41%;
    margin-bottom: 50vh;
  }
  .hero-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $darkColor;
    opacity: 0.5;
  }
}

@keyframes slide-in-bck-top {
  0% {
    transform: translateZ(700px) translateY(-300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.homeBtnNav {
  width: 100vw;
  height: 15vh;
  background-color: $darkColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 2em 2em;
  top: 0;
  z-index: 100;
  color: $mediumLightColor;
}

.homeBtn {
  text-decoration: none;
  color: $mediumLightColor;
  font-size: 3rem;
  transition: 0.3s;
}
.homeBtn:hover {
  color: $mainMediumColor;
  transform: scale(1.1);
}
