// WORK
#homePageWork {
  .headerTitle {
    font-size: 7rem;
    letter-spacing: -10px;
    padding: 0.4em 1.8em 0.3em 0.3em;
    color: $lightColor;
  }

  .homePageWorkWrapper {
    position: relative;
    margin: 0 auto;
    width: 80vw;
    height: 80vh;

    .homePageWorkLink {
      position: absolute;
      width: 100px;
      height: 100px;
      font-size: 3.2rem;
      text-decoration: none;
      color: $lightColor;
      text-align: center;
      letter-spacing: -3px;
      font-weight: 400;

      .marginWrapper {
        position: relative;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 15px; // TODO: Improve margin
        background: $mainLightColor;
        border-radius: 50%;
        .projectLink {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
        }
      }
    }
    .project-1 {
      top: 0;
      left: 10%;
    }
    .project-2 {
      top: 35%;
      left: 35%;
  }

    .circle {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    .circle-dark-dashed {
      width: 12rem;
      height: 12rem;
      margin: auto;
      border-radius: 51%;
      background-color: transparent;
      border: 2px dashed $lightColor;
    }
  }
}



@media (min-width: 576px) {
  #homePageWork {
    .homePageWorkWrapper {
      .project-2 {
        top: 45%;
        left: 40%;
    }
  }
  }
}

@media (min-width: 768px) {
  #homePageWork {
    .headerTitle {
      font-size: 9rem;
      padding-top: 0.5em;
    }
    .homePageWorkWrapper {
      .project-2 {
        top: 45%;
        left: 45%;
    }
  }
  }
}

@media (min-width: 992px) {
  #homePageWork {
    .headerTitle {
      font-size: 11rem;
    }
    .homePageWorkWrapper {
      .project-2 {
        top: 45%;
        left: 55%;
    }
  }
  }
}

