// ABOUT ME

.homePageAboutMe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 12em 5em;
  background-color: $mediumLightColor;
  color: $darkColor;
  overflow-x: hidden;

  .aboutMeText {
    width: 80%;
    font-size: 6rem;
  }

  .aboutMeParagraph {
    text-align: center;
  }

  .text-1 {
    position: relative;
    transition: 1s;
  }

  .paragraph-1 .text-1,
  .paragraph-3 .text-1 {
    left: -50px;
  }

  .paragraph-2 .text-1,
  .paragraph-5 .text-1 {
    right: -50px;
  }

  .text-2,
  .text-3,
  .text-4 {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    opacity: 1;
  }

  .paragraph-4 {
    position: relative;
    display: inline-block;
    height: 9rem;
    width: 100%;
  }

  .letter {
    display: inline-block;
  }

  .aboutMeDescrpition {
    position: relative;
    right: -50px;
    align-self: flex-end;
    width: 50%;
    text-align: justify;
    font-size: 2.5rem;
    padding-top: 2em;
    transition: 1.5s;
  }

  a {
    text-decoration: none;
    color: $mainMediumColor;

    i {
      color: $darkColor;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  .letter {
    display: inline-block;
    background-color: $mainMediumColor;
    color: $lightColor;

    &:first-of-type {
      padding-left: 20px;
      border-radius: 15px 0 0 15px;
    }

    &:last-of-type {
      padding-right: 20px;
      border-radius: 0 15px 15px 0;
    }
  }
}
