// CONTACT

.homePageContact {
  height: 100vh;
  transition: 0.8s;
  overflow: hidden;

  .headerTitleContact {
    font-size: 7rem;
    letter-spacing: -10px;
    padding-top: 0;
  }
  .contactPageMarquee {
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    gap: 1rem;
  }
  .contactPageMail {
    padding-left: 1em;
    font-size: 9rem;
    letter-spacing: -15px;
    text-decoration: underline;
    white-space: nowrap;
    align-self: center;
  }

  .contactPageLink {
    color: $darkColor;
    font-weight: bold;
  }

  .linkWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .contactPageLink {
      font-size: 2rem;
      letter-spacing: 5px;
      text-decoration: none;
    }
  }
}

.reverseColors {
  color: $darkColor;
  background-color: $mainMediumColor;
}

.workPage {
  .projectElement {
    width: 94vh;
    max-width: 94vw;
    height: 94vh;
    max-height: 94vw;
    margin: 3vh auto;
    border-radius: 50%;
    position: relative;

    .projectLabel {
      background: $darkColor;
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
    }
  }
}

@media (min-width: 576px) {
  .homePageContact {
    .headerTitleContact {
      font-size: 10rem;
      padding-top: 0;
    }
    .contactPageMail.contactPageLink {
      font-size: 12rem;
    }
    .linkWrapper .contactPageLink {
      font-size: 3rem;
    }
  }
}

@media (min-width: 768px) {
  .homePageContact {
    .headerTitleContact {
      font-size: 10rem;
      padding-top: 0.5em;
    }
    .contactPageMail {
      font-size: 15rem;
    }
    .contactPageLink {
      font-size: 3.5rem;
    }
  }
}

@media (min-width: 992px) {
  .homePageContact {
    .headerTitleContact {
      font-size: 11rem;
    }
    .contactPageMail.contactPageLink {
      font-size: 15rem;
    }
    .contactPageLink {
      font-size: 3.5rem;
    }
  }
}
