// Project variables (override by custom value)
//$project-gutter-width: false;

// Common WS elements
@import "common/common";

$grayColor: #d8d9d7;
$greenColor: #025928;
$lightGreenColor: #9bbf9d;
$yellowGreenColor: #ced9b8;
$blackColor: #0d0d0d;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Aboreto", cursive;
  background: $blackColor;
}
// Nav
.navigation {
  .menu {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background: $blackColor;
    list-style: none;
    padding-bottom: 3em;
    li {
      transition: 0.5s;
      a {
        font-size: 12rem;
        line-height: 80%;
        letter-spacing: -16px;
        text-decoration: none;
        color: $lightGreenColor;
        transition: 0.5s;
      }
      a:hover {
        color: $greenColor;
        letter-spacing: 0;
      }
    }
    li:hover {
      transform: translateX(10vw);
    }
    .las {
      color: $lightGreenColor;
      font-size: 10rem;
      // opacity: 0;
      transition: 0.5s;
    }
    li ~ .las:hover {
      color: $greenColor;
      // opacity: 1;
    }
  }
  .burger {
    background: none;
    color: $lightGreenColor;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em 1em;
    font-size: 3rem;
  }
  .active {
    left: 0;
  }
  .hide {
    display: none;
  }
}

.homePage {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 2em 2em;
  color: $lightGreenColor;
  .shortInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .line {
    height: 1px;
    width: 10%;
    background-color: $greenColor;
  }
  h1 {
    font-size: 15rem;
  }
  h2 {
    font-size: 10rem;
    letter-spacing: -10px;
  }
}

.homePageAboutMe {
  .descriptions {
    align-self: flex-end;
    width: 60vw;
    text-align: justify;
  }
}
.homePageWork {
  .descriptions {
    align-self: flex-end;
    justify-content: flex-end;
  }
}

.homePageContact {
  transition: 0.8s;
  .mail {
    font-size: 5rem;
    transition: 0.5s;
    align-self: center;
  }
  .link {
    text-decoration: none;
    color: $lightGreenColor;
  }
  .contactTitle {
    transition: 0.5s;
  }
  .contactTitleEffect {
    letter-spacing: 0;
    font-weight: bold;
  }
}
.homePageContact {
  .reverseColors {
    color: $greenColor;
    font-weight: bold;
  }
}
.reverseColors {
  background-color: $yellowGreenColor;
  color: $greenColor;
}
