// Project variables (override by custom value)
//$project-gutter-width: false;

// Common WS elements
@import "common/common";
@import "./intro";
@import "./navigation";
@import "./about";
// @import "./work";
@import "./contact";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
.hideScrollBar {
  overflow: hidden;
}

body {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  background: $darkColor;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background-color: $darkColor;
}

body::-webkit-scrollbar-thumb {
  background: $mainMediumColor;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: $mainLightColor;
}

::selection {
  background-color: $mainLightColor;
  color: $darkColor;
}

.homePageOpening {
  height: 100vh;
}

.homePage {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 2em 2em;
  color: $lightColor;
  font-weight: bold;

  .shortInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    letter-spacing: 2px;
    font-weight: 200;
    animation: anime-main-section 1s cubic-bezier(0.215, 0.61, 0.355, 1) 8s both;
  }

  .line {
    height: 1px;
    width: 70%;
    background-color: $lightColor;
  }
  .mainTitle {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    padding: 10rem;
  }

  .mainTitleInfo {
    font-size: 6rem;
    letter-spacing: -5px;

    &:first-child {
      // align-self: flex-start;
      animation: slide-in-bck-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 7s
        both;
    }

    &:last-child {
      // align-self: flex-end;
      animation: slide-in-bck-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        7s both;
    }
  }

}

@keyframes anime-bgr {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes anime-blur {
  0% {
    filter: blur(0.01);
  }
  50% {
    filter: blur(12px) opacity(20%);
  }
  100% {
    filter: blur(0.01) opacity(100%);
  }
}

@keyframes slide-in-bck-top {
  0% {
    transform: translateZ(700px) translateY(-300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes anime-main-section {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-bck-bottom {
  0% {
    transform: translateZ(700px) translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@media (min-width: 576px) {
  .homePage {
    .shortInfo {
      height: 16vh;
      font-size: 1.6rem;
    }
    .mainTitleInfo {
      font-size: 7rem;
      letter-spacing: -6px;
    }
    .line {
      width: 55%;
    }
  }
}
@media (min-width: 768px) {
  .homePage {
    .shortInfo {
      height: 25vh;
      font-size: 2rem;
    }
    .mainTitleInfo {
      font-size: 10rem;
    }
  }
}

@media (min-width: 992px) {
  .homePage {
    .shortInfo {
      flex-direction: row;
      height: 7vh;
    }
    .mainTitleInfo {
      font-size: 13rem;
      letter-spacing: -15px;
    }
    .line {
      width: 20%;
    }
  }
}

@import "./portfolio/homePage/workSection.scss";
